body {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    height: 50px;
    margin: 0% 12%;
    color: #F9FAF8;
}

.logo {
    padding-top: 14px;
    margin-left: 15%;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    margin-right: 15%;
    padding-top: 14px;
    display: flex;
    justify-content: flex-end;
    flex: auto;
    gap: 20px;
    font-size: 18px;
}

.top-container {
    display: flex;
    background-color: #1F2937;
    flex: auto;
    justify-content: center;
    margin: 0% 12%;
    gap: 60px;
}

.awesome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: 100px 0px;

}

.awesome-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.awesome-container p {
    color: #E5E7EB;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey; 
    text-align: center; 
    width: 35%;
    margin: 100px 0px;
    font-size: 20px;
    
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex: auto;
    margin: 0% 12%;
}

.boxes {
    display: flex;
    text-align: center;
    gap: 100px;
    padding: 0% 12% 6%;
}

.third-container {
    background-color: #E5E7EB;
    flex: auto;
    margin: 0% 12%;

}

.signature {
    text-align: end;
    font-size: 24px;
    font-weight: 900;
    margin: -4% 12% 6%;
}

.fourth-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 0% 12%;
    
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 4%;
    gap: 10%;
    width: 50%;
    margin: 6% 0%;
    border-radius: 10px;

}

footer {
    background-color: #1F2937;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 12%;
}

.signupbtn {
    max-width: 120px;
    height: 36px;
    font-size: 16px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-style: double;
}

.info-heading {
    margin-bottom: 100px;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    padding: 75px 20%;
}

.call-text h5 {
    font-size: 30px;
    color: white;
}

.call-text p {
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 40px;
    color:white
}

.call-to-action button {
    height: 30px;
    min-width: 100px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    border-style: groove;
    border-color: white;
}

button {
    color: #3882F6;
    border-color: #3882F6;
    border-style: none;
}