body {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    margin: 0;
}

header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.top-container {
    display: flex;
    background-color: grey;
    flex: auto;
    justify-content: center;
}

.awesome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: 100px 0px;

}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet; 
    text-align: center; 
    width: 35%;
    margin: 100px 0px;
    
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    flex: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.boxes {
    display: flex;
    text-align: center;
    gap: 100px;
}

.third-container {
    background-color: green;
    flex: auto;

}

.signature {
    text-align: end;
    font-size: 24px;
    font-weight: 900;
    margin: 0% 15%;
}

.fourth-container {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    
}

.call-to-action {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 4%;
    gap: 10%;
    width: 50%;
    margin: 6% 0%;
    border-radius: 10px;

}

footer {
    background-color: lightblue;
    text-align: center;
    height: 50px;
}

.signupbtn {
    max-width: 80px;
}

img {
    max-width: 100%;
    border-style: double;
}

.info-heading {
    margin-bottom: 100px;
    font-size: 36px;
}

.quote {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.77);
    padding: 75px 20%;
}

.call-text h5 {
    font-size: 30px;
    color: white;
}

.call-text p {
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 40px;
    color:white
}

.call-to-action button {
    height: 30px;
    min-width: 100px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border-color: white;
}
