body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.top-container {
    display: flex;
    align-items: baseline;
    background-color: grey;
}

.awesome-container {
    background-color: aqua;
}

.placeholder {
    background-color: blueviolet;
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
}

.boxes {
    display: flex;
    text-align: center;
}

.third-container {
    background-color: green;
}

.signature {
    text-align: end;
}

.fourth-container {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: blue;
    display: flex;
}

.call-text {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: lightblue;
    text-align: center;
}

